Each Journal file is a series of lines each containing one Json object.
Each event record is a json object.
The object has a "timestamp" value with the time in ISO 8601 format, an "event":"eventname" key-
value pair identifying the type of event, followed by other key-value pairs providing additional
information.

Write a powershell version 5.1 compliant script which;

Set input folder to "D:\Users\Den\Saved Games\Frontier Developments\Elite Dangerous"
Set output folder to "C:\Thrustmaster\ED_TargetScript_Warthog\SupportFiles\PowerShell\Output"

As part of the script's initialisation do the following;
1. Create the output folder if it does not exist

2. Write the following placeholder text files encoded as ascii within the output folder with the value = none
	a. CMDRName.txt
	b. ShipName.txt
	c. ShipType.txt
	d. StationName.txt
	e. StationType.txt
	f. BodyName.txt
	g. SystemName.txt
	h. OrganicFound.txt

Create a Journal Processing routine to do the following;
1. Determine and process as per step 3 below, then use  FileSystemWatcher to continuously monitor the input folder to check for latest "Journal*.log" file

2. At run time and each subsequent time Journal*.log is updated or replaced do the following

3. Scan the file for the most recently written events for each event listed and extract the corresponding values as follows;
	a. event : LoadGame
		Write the Commander key-value to CMDRName.txt
		Write the Ship_Localised key-value to ShipType.txt 
	b. event : Docked
		Write the StationName key-value to StationName.txt
		Write the StationType key-value to StationType.txt
	c. event : Loadout
		Write the ShipName key-value to ShipName.txt
	d. event : ShipyardSwap
		Write the ShipType_Localised key-value to ShipType.txt
		This value takes precence over the Ship_Localised in the LoadGame event 
	e. event : Location
		Write the StarSystem key-value to SystemName.txt
		Write the Body key-value to BodyName.txt	
		Write the StationName key-value to StationName.txt
		Write the StationType key-value to StationType.txt	
	f. event : Touchdown
		Write the Body key-value to BodyName.txt
	g. event : FSDJump
		Write the StarSystem key-value to SystemName.txt
	h. event : ScanOrganic
		If Scantype key-value = "Analyse" write the Variant_Localised key-value to OrganicFound.txt 
	i. event : Shutdown
		Exit the script 
		
4. Each time the Journal*.log file is updated or a newer version is written scan the latest entries since we last processed this Journal*.log file and update the text files with the most recent values only if they have changed.

5. Write the value data to a temporary file first, then rename it to the desired filename

6. Indicate what prerequisites are required prior to running the script for the first time.

7. Please suggest methods best suited to running the script on Windows.

